.page-header{
  text-align: center;
}
.page-header span{
  font-size: 50px;
  letter-spacing: 3px;
  display: block;
}
.page-header img{
 margin: 90px 0;
}
.button-group a {
  margin: 0 20px;
  padding: 10px 75px;
}

.des{
  margin: 50px 0;
}
.des h1{
  line-height: 70px;
}
.des h4{
  line-height: 60px;
}