  <div class="btn-group btn-group-justified fixed footer" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <a class="btn btn-default" href="/">
        <span class="glyphicon glyphicon-home"></span> Home
      </a>
    </div>
    <div class="btn-group" role="group">
      <a class="btn btn-default btn-mid" href="/cart">
        <span class="glyphicon glyphicon-shopping-cart"></span> Cart
      </a>
    </div>
    <div class="btn-group" role="group">
      <a class="btn btn-default" href="/userInfo">
        <span class="glyphicon glyphicon-user"></span> Me
      </a>
    </div>
  </div>
