<section>
  <div class="page-header">
    <h1>Dishes</h1>
  </div>
  <div class="list-group">
    <div data-ng-repeat="dish in vm.dishes">
      <div data-ui-sref="dishes.view({ dishId: dish._id })"
      class="list-group-item">
      <h4 class="list-group-item-heading" data-ng-bind="dish.name"></h4>
      <small class="list-group-item-text pull-right">
        Price:
        <span data-ng-bind="dish.price | currency"></span>
      </small>
    </div>
    <a class="btn btn-primary"  data-ng-click="vm.createLocalOrder()">
      <i class="glyphicon glyphicon-shopping-cart"></i>
    </a>
  </div>
</div>
<div class="alert alert-warning text-center" data-ng-if="vm.dishes.$resolved && !vm.dishes.length">
  No Dishes yet, why don't you <a data-ui-sref="dishes.create">create one</a>?
</div>
</section>