<section>
  <div class="page-header">
    <span data-ng-bind="vm.dish.name"></span>
    <img src="{{vm.dish.dishImage}}" alt="{{vm.dish.name}}" class="img-rounded">
    <br>

    <div class="button-group"
         data-ng-show="vm.dish.isCurrentUserOwner">
      <a class="btn btn-primary"
         data-ui-sref="dishes.edit({ dishId: vm.dish._id })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" data-ng-click="vm.remove()">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
      <a class="btn btn-primary" data-ng-click="vm.createLocalOrder(vm.dish._id)">
        <i class="glyphicon glyphicon-shopping-cart"></i>
      </a>
    </div>
    <div class="des">
      <hr>
      <h1>ingredients:</h1>
      <h4 data-ng-repeat="ingredient in vm.dish.ingredients">
      {{ingredient.name}}:{{ingredient.weight}}g</h4>
      <hr>
      <h1>Cooking Steps:</h1>
      <h4 data-ng-repeat="cookingSteps in vm.dish.cookingSteps">
      Step {{$index+1}} :{{cookingSteps}} </h4>
      <hr>
      <h1>Order Times:</h1>
      <h4 data-ng-bind="vm.dish.orderTimes"></h4>
    </div>
  </div>

  <p class="lead" data-ng-bind="vm.dish.content"></p>
</section>
