<section>
<div class="container cart">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row cart-margin-top">
        <div class="col-md-8">
          <b>Total: </b>
        </div>
        <div class="col-md-2 col-md-offset-2 cart-checkout">
          <button >Check Out</button>
        </div>
      </div>

      <div class="row cart-margin-top">
        <ul class="col-md-12 list-unstyled">
          <li class="row">
            <div class="col-md-8">DishName</div>
              <div class="col-md-2 col-md-offset-2">
                <div class="row">
                <button class="col-md-2">-</button>
                <input type="text" class="col-md-3 btn btn-default" value=1>
                <button class="col-md-2">+</button>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="row cart-margin-top">
        <div class="col-md-8">
          <b>Total: </b>
        </div>
        <div class="col-md-2 col-md-offset-2 cart-checkout">
          <button >Check Out</button>
        </div>
      </div>
    </div>
  </div>


</section>
