<section>
  <div class="page-header">
    <h1>Orders</h1>
  </div>
  <div class="list-group list-orders-page">
    <div data-ng-repeat="order in vm.orders"
       class="list-group-item">
      <small class="list-group-item-text">

        <span><b>Status: </b>{{order.status}}</span>
        <br>
        <span><b>ToalPrice: </b>{{order.totalPrice}}<b> RMB</b></span>
        <br>
        <span><b>Name: </b>{{order.deliverInfo.name}}</span>
        <br>
        <span><b>Address: </b>{{order.deliverInfo.address}}</span>
        <div class="panel panel-default">
          <div class="panel-heading order-list-panel" ng-click="show = !show"><b>Details</b></div>
            <div class="panel-body procedure-details"
            ng-show="show">
                <p  data-ng-repeat="dish in order.dishes">
                  <b>Dish: </b>{{dish.name}}
                , <b>Quantity: </b>{{dish.quantity}}
                , <b>Total Price: </b>{{dish.sumPrice}}</p>
            </div>
        </div>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="order.name"></h4>
    </div>
  </div>

</section>
