<section ng-init='recipt()'>
  <div class="page-header">
    <h1>Recipt</h1><button ng-click="print()">Print</button><button ng-click="close()">Close</button>
  </div>
  <div class="list-group recipt">
    <div class="list-group-item">
      <small class="list-group-item-text">
        <h2 class="text-center">One Step</h2>
        <p class="text-center">SHENZHEN NANSHAN <br> www.onestep.com</p>
        <br>
        <div class="procedure-details">
          <p  data-ng-repeat="dish in vm.order.dishes">
            <b>Dish: </b>{{dish.name}}
          , <b>Quantity: </b>{{dish.quantity}}
          , <b>Total Price: </b>{{dish.sumPrice}}</p>
        </div>

        <span><b>Status: </b>{{vm.order.status}}</span>
        <br>
        <span><b>ToalPrice: </b>{{vm.order.totalPrice}}<b> RMB</b></span>
        <br>
        <span><b>Name: </b>{{vm.order.deliverInfo.name}}</span>
        <br>
        <span><b>Address: </b>{{vm.order.deliverInfo.address}}</span>

      </small>
      <h4 class="list-group-item-heading" data-ng-bind="vm.order.name"></h4>
    </div>
  </div>
</section>
