.cart-li-margin-top{
  margin-top: 2rem;
}

.cart-dish-list{
  height: 120px;
}

div.cart-dish-image{
  height: 100%;
}
img.cart-dish-image, a.cart-dish-image{
  padding-top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: inline-block;
}