.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/*nav bar style*/
.nav-bar{
  background-image: none;
  background-color: transparent;
  border: 1px solid #eee;
  text-align: center;
  font-size: 27px;
  line-height: 50px;
}

/*footer style*/
.fixed{
  position: fixed;
}
.footer{
  left: 0;
  bottom: 0;
}
.footer a{
  border-radius: 0;
}
.footer .btn-mid{
  border-left: 0;
  border-right: 0;
}
